In [1]:
from tqdm import tqdm
import pandas as pd

from helper_funcs import get_state_to_region_dict, get_region_search_pg_urls, get_urls_of_posts, process_and_get_urls, convert_urls_to_soup_objs, extract_post_features, drop_exact_duplicates, drop_posts_with_similar_text, drop_posts_without_prices

In [2]:
test_dict = {'hey':(1, 3), 'ya':(1,2,3)}

In [3]:
%store -r

In [4]:
# stored_search_pages

In [5]:
# stored_search_pages[('California', 'sfbay')]

In [6]:
# search_page_url_dict[('California', 'sfbay')]

In [7]:
# soup_objects_test_dict[('Arizona', 'tucson')]

In [8]:
# df, err_list1, err_list2 = extract_post_features(soup_objects_test_dict, include_errors=True)

In [9]:
df = extract_post_features(soup_objects_test_dict, include_errors=False)

df shape: (103, 10)

In [10]:
df.head()

,date_posted,link,price,city,subregion,region,state,post_text,price_list,posts_scraped_on
0,2022-01-17T06:45:48-0600,https://montgomery.craigslist.org/lss/d/montgo...,25.0,no city found,no subregion found,montgomery,Alabama,\n\n\n\n\nAt OmniKen Edu. we offer many differ...,[25],2022-02-06
1,2022-01-20T21:46:36-0900,https://anchorage.craigslist.org/lss/d/anchora...,NaN,Anchorage & Surrounding Communities,no subregion found,anchorage,Alaska,\n\n\n\n\nüìàOnline Tutoring üìùAffordable Compe...,[],2022-02-06
2,2022-01-31T10:22:46-0900,https://anchorage.craigslist.org/lss/d/nome-12...,NaN,no city found,no subregion found,anchorage,Alaska,\n\n\n\n\nOur tutors are real full-time teache...,[],2022-02-06
3,2022-01-19T12:19:40-0900,https://anchorage.craigslist.org/lss/d/tatitle...,NaN,no city found,no subregion found,anchorage,Alaska,\n\n\n\n\nOur tutors are real full-time teache...,[],2022-02-06
4,2022-01-30T14:03:22-0700,https://flagstaff.craigslist.org/lss/d/flagsta...,30.0,Flagstaff,no subregion found,flagstaff,Arizona,"\n\n\n\n\nCertified teacher, available for mos...",[30],2022-02-06

In [11]:
df_exacts_dropped = drop_exact_duplicates(df)

Number of rows before dropping duplicates: 103
Number of rows before after duplicates: 76
A difference of 27 rows.

In [12]:
df_no_dups = drop_posts_with_similar_text(df_exacts_dropped, drop_match_col=False)

Number of rows before dropping duplicates: 76
Number of rows before after duplicates: 52
A difference of 24 rows.

/Users/rancher/opt/anaconda3/envs/ox/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3162: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return asarray(a).ndim
/Users/rancher/opt/anaconda3/envs/ox/lib/python3.9/site-packages/pandas/core/internals/blocks.py:937: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)

In [13]:
df_no_dups.head()

,date_posted,link,price,city,subregion,region,state,post_text,price_list,posts_scraped_on,match
0,2022-01-17T06:45:48-0600,https://montgomery.craigslist.org/lss/d/montgo...,25.0,no city found,no subregion found,montgomery,Alabama,\n\n\n\n\nAt OmniKen Edu. we offer many differ...,[25],2022-02-06,[0]
1,2022-01-20T21:46:36-0900,https://anchorage.craigslist.org/lss/d/anchora...,NaN,Anchorage & Surrounding Communities,no subregion found,anchorage,Alaska,\n\n\n\n\nüìàOnline Tutoring üìùAffordable Compe...,[],2022-02-06,[1]
2,2022-01-31T10:22:46-0900,https://anchorage.craigslist.org/lss/d/nome-12...,NaN,no city found,no subregion found,anchorage,Alaska,\n\n\n\n\nOur tutors are real full-time teache...,[],2022-02-06,"[3, 68]"
4,2022-01-30T14:03:22-0700,https://flagstaff.craigslist.org/lss/d/flagsta...,30.0,Flagstaff,no subregion found,flagstaff,Arizona,"\n\n\n\n\nCertified teacher, available for mos...",[30],2022-02-06,[5]
6,2022-01-10T06:34:09-0700,https://flagstaff.craigslist.org/lss/d/flagsta...,NaN,no city found,no subregion found,flagstaff,Arizona,"\n\n\n\n\nHi, I‚Äôm Tiffany and I along with 3 o...",[],2022-02-06,[41]

In [14]:
df_with_prices = drop_posts_without_prices(df_no_dups)

Number of rows before dropping duplicates: 52
Number of rows before after duplicates: 22
A difference of 30 rows.